@model DoneIt.ViewModels.RestablecerPasswordViewModel

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/RecuperarRestablecer.css" />

<!-- Vista para el restablecimiento de contraseña -->
<div class="form-container">
    <div class="form-header">
        <h2>Restablecer Contraseña</h2>
    </div>

    <form asp-action="RestablecerPassword" method="post">
        <input type="hidden" asp-for="Token" />
        <div class="form-group">
            <label for="NuevaPassword">Nueva contraseña</label>
            <input asp-for="NuevaPassword" class="form-control" type="password" />
            <span asp-validation-for="NuevaPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Restablecer</button>
    </form>
</div>

